<div class="row">
  <div class="col-md-8">
    <h4>Liste des utilisateurs</h4>
  </div>
</div>

<div *ngIf="isUser && edit" class="alert alert-success">
  Les roles utilisateur ont été modifiés avec succès!
</div>

<div class="row">
  <table>
    <tr>
      <th>Nom</th>
      <th>Nom d'utilisateur</th>
      <th>Email</th>
      <th>Roles</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td *ngIf="mode!=user.id">
        <p *ngFor="let role of user.roles">
          {{role.name}}
        </p>
      </td>
      <td *ngIf="mode==user.id">
        <ng-multiselect-dropdown [placeholder]="'Choisir rôle'" [data]="dropdownList"
                                 name="role" #role="ngModel" [(ngModel)]="selectedItems"
                                 [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                 (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
      </td>
      <td>
        <button *ngIf="mode!=user.id" class="btn btn-default btn-rounded btn-sm" data-toggle="modal" data-target="#BlockComp"
                (click)="editUser(user,user.roles)">
          <span class="fa fa-pencil"></span></button>
        <button *ngIf="mode==user.id" class="btn btn-default btn-rounded btn-sm"
                (click)="updateUser(user,selectedItems)">
          <span class="fa fa-save"></span></button>
        <button class="btn btn-danger btn-rounded btn-sm" mwlConfirmationPopover
                [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
                (confirm)="deleteUser(user)">
          <span class="fa fa-times"></span>
        </button>

      </td>
    </tr>
  </table>
</div>

